body {
    display: grid;
    background: cadetblue;
    grid-template-areas:
        "header header"
        "photo main"
        "footer footer";
    grid-template-rows: 130px 1fr 100px;
    grid-template-columns: 200px 1fr;

    height: 100vh;
    margin: 0;
}
header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #2c3e50;
    border-bottom: 9px solid black;
}
footer {
    grid-area: footer;
    background-color: #0e213e;
    border-top: 9px solid black;
    text-align: right;
    padding-right: 20px;
}
main {
    display: grid;
    grid-area: main;
    grid-template-areas:
        "names names"
        "about call"
        "container_1 container_1"
        "container_2 container_2";
    grid-template-rows: 100px 200px 1000px 700px;
    grid-template-columns: 1fr 1fr;
    background: #0c3e2e;
}
.photo {
    grid-area: photo;
    text-align: center;
    padding-top: 20px;
}
.image {
    padding-top: 14px;
    padding-left: 25px;
}
ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}

nav {
    display: block;

    flex: 1;
    padding: 5px
}
.two ul {
    margin-top: 25px;
    margin-left: 10px;
    background: #D4E7EE;
    overflow: hidden;
    padding: 0;
}
.two li {
    float: left;
    font-size: 20px;
}
.two a {
    display: block;
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    background: rgba(173, 192, 206, .3);
    color: #29838C;
}
.two a:hover {background: #ADC0CE}

.names {
    text-align: center;
    grid-area: names;
}

.htwo {
    display: inline-block;
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}
.about, .call {
    vertical-align: top;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.about {
    grid-area: about;
}
.call {
    grid-area: call;
}
p {
    padding-left: 20px;
    font-family: Arial;
    font-weight: normal;
    color: white;
}
.container_1 {
    grid-area: container_1;
    display: grid;
    grid-template-rows:  1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-bottom: 20px;
}
.container_2 {
    grid-area: container_2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.illustration_1_1, .illustration_1_2 {
    margin: 10px;
    width: auto;
    height: auto;
    background-color: #a0b3a8;
    text-align: center;
    vertical-align: middle;
}
.illustration_1_1 {
    margin-right: 0;
}
.illustration_1_2 {
    margin-left: 0;
}
.image_1 {
    height: 400px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 3px solid black;
}
.serialname {

    font: 20pt sans-serif;
    font-weight: 500;
    color: black;
    margin: 0 0 10px 0;
}
.illustration_2 {
    flex: 1;
    margin: 10px;
    width: 20%;
    height: auto;
    background-color: #a0b3a8;
    text-align: center;
    vertical-align: middle;
}

.image_2 {
    height: 560px;
    width: 360px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 3px solid black;
}